.header {
  background-color: var(--black-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.burger__logo-img {
  display: flex;
  align-items: center;
}

@media (width > 1305px) {
  .header__menu {
    display: block;
  }

  .burger__logo-img {
    display: flex;
    align-items: center;
  }
}

/* @media (width <= 1305px) {
  .header__menu {
    display: none;
  }
} */

.menu__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.menu__link {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  color: var(--main-color);
}

.header__actions {
  display: flex;
  gap: 50px;
}

.header__actions-button {
  display: flex;
}
